.env.*
.idea
networkFiles/

besu.networks
besu.ports

network/node-1/data/caches/*
network/node-1/data/database/*

network/node-2/data/caches/*
network/node-2/data/database/*

network/node-3/data/caches/*
network/node-3/data/database/*

network/node-4/data/caches/*
network/node-4/data/database/*

network/node-1/data/DATABASE_METADATA.json
network/node-2/data/DATABASE_METADATA.json
network/node-3/data/DATABASE_METADATA.json
network/node-4/data/DATABASE_METADATA.json

# persistent data stored in docker volumes`
services/blockscout/blockscout-db-data/*
services/blockscout/blockscout-redis-data/*
services/blockscout/stats-db-data/*
services/blockscout/logs/*
